<div class="container">
  <h2>Tutti Reparti</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Reparto</th>
        <th>Medico</th>
        <th>Add Medico</th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr *ngFor="let reparto of tuttiReparti">
        <td>{{ reparto.nome}}</td>
        <td>{{ reparto.idMedico.nome }} {{ reparto.idMedico.cognome }}</td>
        <td><button mat-raised-button color="primary" (click)="addMedicoAdReparto(reparto.id)">Aggiungi</button></td>
      </tr>
    </tbody> -->
  </table>
</div>
